@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
}
@font-face {
    font-family: 'IvyPresto Headline'; /* Название шрифта */
    src: url('../fonts/IvyPrestoDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.side-panel-search {
    display: none; /* Скрываем панель по умолчанию */
    position: absolute; /* Позиционирование относительно родителя */
    top: 0; /* Позиция сверху */
    left: -300px; /* Сдвигаем влево от основного меню */
    width: 280px; /* Ширина боковой панели */
    background-color: white; /* Цвет фона */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для боковой панели */
    z-index: 1; /* Устанавливаем уровень над другими элементами */
    border-radius: 5px; /* Скругление углов */
    transition: left 0.3s; /* Плавный переход для появления */
}

.top-slider-search {
    position: fixed;
    top: -250%;
    left: 0;
    right: 0;
    bottom: 0; /* Добавлено, чтобы занять всю высоту */
    background-color: #FFFFFF;
    padding: 20px;
    transition: top 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box; /* Учитываем padding */
}


.top-slider-search.active {
    top: 0; /* Показываем слайдер */
}

.slider-content {
    flex-shrink: 0; /* Запрещаем сжимать заголовок */
    margin-bottom: 20px;
}

.search-container {
    display: flex; /* Используем Flexbox для выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
}

.input-container {
    position: relative; /* Позволяет позиционировать иконку внутри поля ввода */
    flex: 1; /* Позволяет контейнеру занимать оставшееся пространство */
    margin-right: 5px; /* Уменьшен отступ между полем ввода и кнопкой */
}

.search-input {
    width: 100%; /* Занимаем полную ширину контейнера */
    border: 1px solid #B9B8B8;
    border-radius: 5px;
    padding: 8px 30px; /* Меньшие отступы для текста и иконки */
    font-size: 14px; /* Уменьшение размера шрифта */
}

.search-icon {
    position: absolute; /* Абсолютное позиционирование для иконки */
    left: 10px; /* Отступ от левого края */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Компенсация высоты иконки */
    width: 15px; /* Уменьшена ширина иконки */
    height: auto; /* Сохраняем пропорции */
}

.search-button {
    padding: 8px 15px; /* Уменьшены отступы */
    background-color: #FF89AA;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Уменьшение размера шрифта */
}
.main-slider-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px; /* Чуть правого отступа — для удобства прокрутки */
    scrollbar-gutter: stable; /* Удерживаем положение контента при появлении scroll */
}

.side-bar {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание элементов */
}

.top-slider-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Адаптивная сетка */
    gap: 10px;
    padding-bottom: 20px;
}

.top-slider-product {
    margin: 5px; /* Уменьшен отступ между продуктами */
}

.top-slider-product img {
    height: auto; /* Сохраняем пропорции */
    align-items: flex-start;
}

.top-slider-product p {
    margin: 5px 0;
    color: #494747;
    font-size: 12px; /* Уменьшен размер шрифта для текста */
}
.top-slider-product img {
    max-width: 100%; /* Уменьшена ширина изображений */
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (min-width: 1921px) {
    .top-slider-products {
        grid-template-columns: repeat(4, 1fr); /* 4 продукта в ряду */
    }
    #header h2{
        font-size: 25px;
    }
    .side-bar h2{
        font-size: 25px;
    }
    .side-bar a{
        font-size: 20px;
    }
    .main-slider-content {
        display: grid;
        grid-template-columns: min-content auto;
    }
}
@media (max-width: 1920px){
    .main-slider-content {
        display: grid;
        grid-template-columns: min-content auto;
    }
}
@media (min-width: 1440px) and (max-width: 1920px) {
    .top-slider-products {
        grid-template-columns: repeat(4, 1fr); /* 4 продукта в ряду */
    }
    #header h2{
        font-size: 25px;
    }
    .side-bar h2{
        font-size: 25px;
    }
    .side-bar a{
        font-size: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .top-slider-products {
        grid-template-columns: repeat(3, 1fr); /* 4 продукта в ряду */
    }
    #header h2{
        font-size: 20px;
    }
    .side-bar h2{
        font-size: 20px;
    }
    .side-bar a{
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .top-slider-products {
        grid-template-columns: repeat(3, 1fr); /* 4 продукта в ряду */
    }
    #header h2{
        font-size: 20px;
    }
    .side-bar h2{
        font-size: 25px;
    }
    .side-bar a{
        font-size: 20px;
    }
}

@media (max-width: 760px) {
    .top-slider-products {
        grid-template-columns: repeat(2, 1fr); /* 4 продукта в ряду */
    }
    .main-slider-content {
        grid-template-columns: 1fr;
    }
    #header h2{
        font-size: 18px;
    }
    .side-bar h2{
        font-size: 18px;
    }
    .side-bar a{
        font-size: 16px;
    }
    .search-container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .search-button{
        width: 100%;
    }
    .input-container{
        width: 100%;
    }
}